<div class="row card-group" *ngIf="actors?.length>0">
    <div class="col-4" *ngFor="let actor of actors; let i = index">
        <div class="card">
            <img [src]="actor.img" class="card-img-top" alt="Foto del actor">
            <div class="card-body">
                <h5 class="card-title">Nombre: {{actor.first_name}}</h5>
                <h5 class="card-title">Apellido: {{actor.last_name}}</h5>
                <p class="card-text">Genero: {{actor.gender}}</p>
                <p class="card-text">Fecha nacimiento: {{actor.birthdate}}</p>
                <p class="card-text">Ciudad de nacimiento: {{actor.bornCity}}</p>
                <p class="card-text">Puntuacion de la critica: {{actor.rating}}</p>
                <ol>
                    <li>
                        Peliculas del actor : {{actor.movies}}
                    </li>
                </ol>
                <a (click)="selectMovie(actor)" class="btn btn-primary">Ver detalle</a>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen]="true"></ngx-spinner>