<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Aplicación Cine</h1>
        <p class="lead">Esta es una prueba tecnica para AtSistemas</p>
    </div>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['./list-movies']">Peliculas</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['./actors']">Actores</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['./companies']">Compañias</a>
    </nav>
</div>