<div class="row card-group" *ngIf="peliculas?.length>0; else nodata">
    <div class="col-4" *ngFor="let pelicula of peliculas; let i = index">
        <div class="card">
            <img [src]="pelicula.poster" class="card-img-top" alt="Poster de la pelicula">
            <div class="card-body">
                <h5 class="card-title">Titulo: {{pelicula.title}}</h5>
                <h5 class="card-title">Fecha de estreno: {{pelicula.year}}</h5>
                <p class="card-text">Duracion: {{pelicula.duration}}</p>
                <p class="card-text">Puntuacion de la critica: {{pelicula.imdbRating}} sobre 5</p>
                <ol>
                    <li>
                        Generos : {{pelicula.genre}}
                    </li>
                </ol>
                <ol>
                    <li>
                        Actores : {{pelicula.actors}}
                    </li>
                </ol>
                <a (click)="selectMovie(pelicula)" class="btn btn-primary">Ver detalle</a>
            </div>
        </div>
    </div>
</div>
<ng-template #nodata>
    <h3>No se han encontrado peliculas</h3>
</ng-template>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-dark" type="button" (click)="addMovie()"></button>
    </div>
</div>