<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" type="button" (click)="addMovie()">Nueva pelicula</button>
    </div>
</div>
<br>
<div class="row card-group" *ngIf="peliculas?.length>0">
    <div class="col-sm-12 col-md-12 col-lg-4" *ngFor="let pelicula of peliculas; let i = index">
        <div class="card">
            <img *ngIf="pelicula.poster !== null" [src]="pelicula.poster" class="card-img-top imagen-tarjeta" alt="Poster de la pelicula">
            <img *ngIf="pelicula.poster === null" [src]="emptyImage" class="card-img-top imagen-tarjeta" alt="Poster de la pelicula">
            <div class="card-body">
                <h5 class="card-title">Titulo: {{pelicula.title}}</h5>
                <h5 class="card-title">Fecha de estreno: {{pelicula.year}}</h5>
                <p class="card-text">Duracion: {{pelicula.duration}}</p>
                <p class="card-text">Puntuacion de la critica: {{pelicula.imdbRating}}</p>
                <p class="card-text">Actores principales: </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Protagonistas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actor of pelicula.namesActors">
                            <td>
                                {{actor}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Generos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let genero of pelicula.genre">
                            <td>
                                {{genero}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" (click)="selectMovie(pelicula)" class="btn btn-primary">Ver detalle</button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen]="true"></ngx-spinner>